In [7]:
import pandas as pd
import json
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import string
from nltk.corpus import stopwords
string.punctuation
from datetime import timedelta
import numpy as np
import nltk
from wordcloud import WordCloud
nltk.download('vader_lexicon')


# Download the stopwords resource
nltk.download('stopwords')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\mqayum2\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mqayum2\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
dir_ = "C:\\Users\\mqayum2\\Box\\Spring 2024\\Data Science\\Data Science Final Project\\"

In [14]:
df = pd.read_csv(dir_+"drug_reviews_cleaned.csv")

In [15]:
## I want to 'trim' the the text columns. For example if the value for the drug column is 'Tirzepatide ', I want it to be 'Tirzepatide'
df = df.apply(lambda x: x.str.strip())

In [47]:
sw_list = stopwords.words('english') + ['amp',''," "]
tfidf = TfidfVectorizer(stop_words=sw_list)
X_tfidf = tfidf.fit_transform(df['Comment']).todense()
X_tfidf

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [48]:
X_tfidf = \
pd.DataFrame(X_tfidf,
             columns = [x for x in tfidf.get_feature_names_out()])
X_tfidf

,00,000,000mg,01032020,011723,082322,0mg,10,100,1000,...,younger,youre,yr,yrs,yuck,zero,zofran,zombie,zone,zuchiinni
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.067126,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.129525,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
597,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.085895,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
X_tfidf['sum_tf'] = X_tfidf.sum(axis=1)
X_tfidf['mean_tf'] = X_tfidf.mean(axis=1)
X_tfidf

,00,000,000mg,01032020,011723,082322,0mg,10,100,1000,...,yr,yrs,yuck,zero,zofran,zombie,zone,zuchiinni,sum_tf,mean_tf
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.067126,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.615455,0.004568
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.500787,0.003447
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.861643,0.004168
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.487034,0.003440
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.827905,0.003620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.802955,0.004668
594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.513850,0.002393
595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.129525,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.762947,0.003586
596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.129539,0.002190
597,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.085895,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.109605,0.003770

In [27]:
# Make the text lowercase
df['lower_text'] =  df['Comment'].str.lower()

In [28]:
remv_punc = str.maketrans('','',string.punctuation + '“' +"‘"+'”')
# Remove the punctuation
df['lower_text_NoPunct'] = df['lower_text'].str.translate(remv_punc)

In [29]:

# Download the stopwords, but add another list with "amp", "", and white space " "
sw_list = stopwords.words('english') + ['amp',''," "]

In [30]:
# split on whitespace to get separate words
df['words'] = [x.split(" ") for x in df['lower_text_NoPunct']]

In [31]:
# Take out stopwords
# Convert the text to a set, subtract the set of stopwords, turn into list
df['words'] = [list(set(x) - set(sw_list)) for x in df['words']]

In [32]:
# Creating an instance of the CountVectorizer with a stop word list.
vct = CountVectorizer(stop_words=sw_list)
# Gives me an output of word counts 
X = vct.fit_transform(list(df['lower_text_NoPunct']))

In [33]:
# make X a dataframe
word_counts = pd.DataFrame(X.sum(axis=0))

In [34]:
word_counts

,0,1,2,3,4,5,6,7,8,9,...,3763,3764,3765,3766,3767,3768,3769,3770,3771,3772
0,1,4,1,1,2,2,16,87,35,9,...,1,4,3,4,1,14,15,1,1,1

In [35]:
# Assign to columns a list of the feature names from .get_feature_names_out()
word_counts.columns = vct.get_feature_names_out()
# Transpose, so that word labels are rows instead of columns
word_counts = word_counts.T

In [36]:
words =  word_counts[0].index

In [38]:
data = pd.DataFrame(X.toarray(), \
                 columns=word_counts.index)

In [40]:
data

,00,000,000mg,01032020,011723,082322,0mg,10,100,1000,...,younger,youre,yr,yrs,yuck,zero,zofran,zombie,zone,zuchiinni
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
594,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
595,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
597,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
data['sum_tf'] = X_tfidf[['sum_tf']]
data['mean_tf'] = X_tfidf[['mean_tf']]
data

,00,000,000mg,01032020,011723,082322,0mg,10,100,1000,...,yr,yrs,yuck,zero,zofran,zombie,zone,zuchiinni,sum_tf,mean_tf
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,8.615455,0.004568
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.500787,0.003447
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7.861643,0.004168
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.487034,0.003440
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.827905,0.003620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8.802955,0.004668
594,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.513850,0.002393
595,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,6.762947,0.003586
596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.129539,0.002190
597,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,7.109605,0.003770

In [51]:
word_counts.reset_index(inplace=True)
word_counts.rename(columns = {'index' : 'Words', 0 : 'Count'}, inplace=True)

In [52]:
word_counts = word_counts.pivot_table(index=None, columns='Words', values='Count', aggfunc='first', fill_value=0)