In [2]:
import pandas as pd
import json
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import re
import string
from nltk.corpus import stopwords
string.punctuation
from datetime import timedelta
import nltk

# Download the stopwords resource
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\irfan
[nltk_data]     LAPTOP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [5]:
dir_ = "C:\\Users\\irfan LAPTOP\\Box\\Spring 2024\\Data Science\\Data Science Final Project\\"

In [7]:
df = pd.read_csv(dir_+"drug_reviews_cleaned.csv")

In [9]:
# Make the text lowercase
df['lower_text'] =  df['Comment'].str.lower()

In [11]:
remv_punc = str.maketrans('','',string.punctuation + '“' +"‘"+'”')
# Remove the punctuation
df['lower_text_NoPunct'] = df['lower_text'].str.translate(remv_punc)

In [13]:

# Download the stopwords, but add another list with "amp", "", and white space " "
sw_list = stopwords.words('english') + ['amp',''," "]

In [14]:
# split on whitespace to get separate words
df['words'] = [x.split(" ") for x in df['lower_text_NoPunct']]

In [16]:
# Take out stopwords
# Convert the text to a set, subtract the set of stopwords, turn into list
df['words'] = [list(set(x) - set(sw_list)) for x in df['words']]

In [18]:
# Creating an instance of the CountVectorizer with a stop word list.
vct = CountVectorizer(stop_words=sw_list)
# Gives me an output of word counts 
X = vct.fit_transform(list(df['lower_text_NoPunct']))

In [21]:
# make X a dataframe
word_counts = pd.DataFrame(X.sum(axis=0))

In [22]:
word_counts

,0,1,2,3,4,5,6,7,8,9,...,3763,3764,3765,3766,3767,3768,3769,3770,3771,3772
0,1,4,1,1,2,2,16,87,35,9,...,1,4,3,4,1,14,15,1,1,1

In [23]:
# Assign to columns a list of the feature names from .get_feature_names_out()
word_counts.columns = vct.get_feature_names_out()
# Transpose, so that word labels are rows instead of columns
word_counts = word_counts.T

In [24]:
word_counts

            0
00          1
000         4
000mg       1
01032020    1
011723      2
...        ..
zero       14
zofran     15
zombie      1
zone        1
zuchiinni   1

[3773 rows x 1 columns]

In [25]:
# Look at the first column (0), sort the values, give me the first 20.
word_counts[0].sort_values(ascending=False).head(20)

side          387
effects       337
weight        322
taking        290
started       274
blood         269
metformin     261
day           257
lost          253
a1c           233
sugar         222
weeks         214
eat           211
mounjaro      210
months        207
medication    195
week          194
take          189
get           188
doctor        186
Name: 0, dtype: int64